{% extends "base.html" %}
{% block content %}
<div class="container my-5">
    <form method="post" action="{% url 'password_reset' %}">
    {% csrf_token %}
    {% include "form_errors.html" %}

    <div class="bg-light p-4 rounded" style="max-width: 500px; margin: auto;">
        <h2 class="text-center mb-2">Password Reset</h2>
        <p class="text-center mb-4">Enter your email address to receive the password reset link.</p>

        <div class="mb-3 mx-5">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="email" id="email"
                   value="{{ form.email.value|default_if_none:'' }}">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary mx-5">Submit</button>
        </div>
    </div>
    </form>
</div>
{% endblock %}

