{% load static %}
<!DOCTYPE html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!-- Personal CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>StudySphere</title>
</head>

<body>

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand mr-1" href="{% url 'index' %}">
            {% load static %}
            <img src="{% static 'logo.png' %}" alt="Logo" style="height: 40px;">
        </a>

        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'studygroup' %}">Study Groups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'question' %}">Q&A</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mypage' %}">My page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}" onclick="return confirm('Are you sure you want log out?');">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">Sign up</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<!-- Template inheritance -->
{% block content %}
{% endblock %}

<!-- Bootstrap JS -->
<script src="{% static 'bootstrap.min.js' %}"></script>
</body>
